.background {
     position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    min-height: 100vh;
    background: #87CEEB;
    overflow: hidden;
}

.folderbox{
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 63.2%;
    height: 40%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    visibility: visible;
    backdrop-filter: blur(5px);
}

.btn {
    color: white;
    background-color: rgb(63, 166, 207);
}

.wave-container {
    position: absolute;
    top: 60%;
    left: 0;
    width: 200%;
    height: 50vh;
    overflow: hidden;
    z-index: 0;
    transform: translateY(0);
    background: linear-gradient(to bottom, transparent 40%, #87CEEB 100%);
}

.wave {
    position: absolute;
    width: 100%;
    height: 80%;
    animation-name: waveMove;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    will-change: transform;
    backface-visibility: hidden;
    fill: white;
    opacity: 0.3;
}

.wave1 {
    animation-duration: 8s;
    animation-delay: 0s;
    z-index: 3;
}

.wave2 {
    animation-duration: 10s;
    animation-delay: -2s;
    z-index: 2;
}

.wave3 {
    animation-duration: 12s;
    animation-delay: -4s;
    z-index: 1;
}

@keyframes waveMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
